@{
    ViewBag.Title = "Home Page";
}

<table class="table table-bordered table-condensed table-hover table-striped table-responsive">
    <tr>
        <th width="25%">Address</th>
        <th width="25%">Zipcode</th>
        <th width="25%">Description</th>
        <th width="25%">Image</th>

    </tr>
    <tr>
        <td>@ViewBag.Address</td>
        <td>@ViewBag.Zipcode</td>
        <td>@ViewBag.Facts</td>
        <td>
            @if (ViewBag.ImageQuant <= 1)
            {
                <img src="@ViewBag.Image">
            }
            else
            {
                //for (int i = 0; i < ViewBag.Image.Count; i++)
                //{
                <img src="@ViewBag.Image[0]">
                @*}*@
            }
        </td>
        
    </tr>


</table>